salesforce-lavis
torch_geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
pytorch-lightning
peft
transformer_engine[pytorch]
flash-attn
deepspeed
opencv-python
nltk
rouge_score
transformers==4.45.2
circuitgraph
wandb